*
{
  margin: 0;
  padding: 0;
}

html,body
{
  width: 100%;
  height: 100%;
}

body
{
  font-family: calibri;
  background: rgba(10,21,49,1);
}

.container
{
  padding-top: 1px;
}

.main_container
{
  width: 700px;
  height: 500px;
  background: rgba(15,28,62,1);
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10 rgba(0,0,0,1);
  color: #fff;
}

h1
{
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.content_cont
{
  width: 100%;
  height: 420px;
  display: flex;
}

.image_container
{
  width: 40%;
  height: 100%;
  text-align: center;
}

.image_container>img
{
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border-radius: 50%;
}

.text_container
{
  width: 60%;
  height: 90%;
  padding: 4% 0;
  display: flex;
  flex-wrap: wrap;
}

.text_div
{
  width: 180px;
  height: 160px;
  padding: 10px;
  cursor: pointer;
}

.td1
{
  background: rgba(27,41,91,1);
}

.text_div>p
{
  margin: 10px 0;
  color: rgba(255,255,255,0.5)
}

.text_div>h4
{
  cursor: pointer;
}